<div class="col-md-6">
  <%= link_to event_path(event) do %>
    <div class="card">
      <img class="card-img-top" src="<%= event.hero_image_url %>">
      <div class="card-block">
        <h4 class="card-title"><%= event.name %></h4>
        <div class="card-text">
          <%= fa_icon 'clock-o' %>
          <span class="card-text"><%= event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %></span>
        </div>
        <div class="card-text">
          <%= fa_icon 'map-marker' %>
          <span class="card-text">
            <strong>"<%= event.venue.name %>"</strong> <%= event.venue.full_address %>
          </span>
        </div>

        <% if editable %>
          <%= link_to 'edit', edit_event_path(event), {class: 'btn btn-success'} %>
          <% if event.public %>
            <span class="label label-default">event was published</span>
          <% else %>
            <%= link_to 'publish', publish_event_path(event), {class: 'btn btn-danger'} %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
