<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <ol class="breadcrumb" style="margin-bottom: 5px;">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol>
        <p>Event detail</p>
        <div class="signup-form">
          <%= form_for @event || Event.new do |f| %>
            <div class="form-group">
              <%= f.text_field 'name', class: 'form-control', placeholder: 'name'%>
            </div>
            <div class="form-group">
              <label>Venue</label>
              <%= f.collection_select 'venue_id', @venue, :id, :name, {include_blank: false}, {:class => 'form-control'} %>
            </div>
            <div class="form-group">
              <label>Category</label>
              <%= f.collection_select 'category_id', @category, :id, :name, {include_blank: false}, {:class => 'form-control'} %>
            </div>
            <div class="form-group">
              <%= f.text_field 'hero_image_url', class: 'form-control', placeholder: 'hero image url'%>
            </div>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <%= f.text_field 'starts_at', class: 'form-control', placeholder: 'start time'%>
                    <span class="input-group-addon">
                        <%= fa_icon 'clock-o' %>
                    </span>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker({format: 'YYYY-MM-DD hh:mm'});
                });
            </script>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <%= f.text_field 'ends_at', class: 'form-control', placeholder: 'end time' %>
                    <span class="input-group-addon">
                        <%= fa_icon 'clock-o' %>
                    </span>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker2').datetimepicker({format: 'YYYY-MM-DD hh:mm'});
                });
            </script>
          </div>
            <div class="form-group">
              <%= f.text_area 'extended_html_description', class: 'form-control', placeholder: 'extended html description' %>
            </div>
            <% if @event && @event.errors.any? %>
              <div class="alert alert-danger" role="alert">
                <ul>
                  <% @event.errors.full_messages.each do |err| %>
                    <li>
                      <strong><%= err %></strong>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
                <%= f.submit 'Create event', class: 'btn btn-block btn-success' %>
            </div>    
          <% end %>
        </div> 
    </div>
</div>
