<!DOCTYPE html>
<html>
<head>
  <title>CsTemplate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav pull-right">
      <% if signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="/tickets">your tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">your workspace</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">log out</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/login">log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/new">sign up</a>
        </li>
      <% end %>
    </ul>
  </nav>  

<div class="container">
  <%= yield %>
</div>
</body>
</html>
